body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f29;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001214;
    padding: 15px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #350008;
    border-radius: 5px;
}


.cart {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    font-size: 24px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart-item-details {
    margin-left: 15px;
}

.cart-item-total {
    font-weight: bold;
}

.cart-summary h3 {
    font-size: 20px;
}

.payment-methods {
    margin-top: 20px;
}

.payment-options label {
    display: block;
    margin-bottom: 10px;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.checkout-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
